@use "../abstracts/colors" as*;
@use "../abstracts/breakpoints" as *;

.download-section {
    &__desc {
        padding: 1rem;
    }


    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    &__thumb {
        justify-self: center;
        margin: .5rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

@include media('tablet') {
    .download-section div {
        grid-column: 1/-1;
    }
}

@include media('desktop') {
    .download-section {
        padding: 3rem;

        &__desc {
            grid-column: 1/-1;
        }
    }
}

.plan-card {
    position: fixed;
    z-index: 999;
    inset: 0;
    padding: 2rem;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: max(50dvw, 300px);
    aspect-ratio: 1;
    margin: auto;

}

.overlay-image {
    display: grid;
    gap: 1rem;
    color: $white;
    font-weight: 600;

    img {
        width: 80%;
        margin: auto;
    }
}