@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__input,
    &__textarea {
        outline: none;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        background-color: $clr_dark;
        width: 100%;
        border-bottom: 1px solid $clr_acc;
        color: $clr_acc;
    }
}