@forward 'sass:list';

$clr_acc_2: #D48166;
$clr_dark: #051622;
$white: #ffffff;
$gold: #dcb306;
$clr_light: #1BA098;
$clr_acc: #DEB992;

$scheme-light: $clr_dark, $white;
$scheme-card: $white, $clr_dark;
$scheme-gradient: $clr_dark, $clr_dark;
$scheme-card-light: $white, $scheme-gradient;
$scheme-card-contrast: $white, $clr_dark;
$scheme-detail: $white, $clr_dark;
$scheme-dark: $clr_acc, $clr_dark;
$btn-scheme: $clr_acc_2, $clr_acc;

.red {
    background-color: rgba($clr_acc, .9);
}

.green {
    background-color: rgba($clr_dark, .9);
}