@use "../abstracts/colors" as *;

.thumbnail {
    width: min(80px, 160px);
    box-shadow: 3px 3px 1px -1px #020005;
}

.grid-center {
    display: grid;
    place-items: center;
}

.wrapper {
    display: grid;
    min-height: 50dvw;
    text-align: center;
    place-content: center;
    gap: 1rem;
}