@use "../abstracts/breakpoints" as *;
@use "../abstracts/colors" as *;

.footer {
    background-color: $box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem 0;
    color: $white;
    margin-top: auto;
    margin-bottom: 0px;
}

@include media('tablet') {
    .footer {
        align-items: center;
        justify-content: space-around;
    }
}