@use "../abstracts/breakpoints" as *;
@use "../abstracts/colors" as *;


.nav {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    z-index: 8;
    transition: 350ms;

    &.hide {
        top: -200px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: .5rem;
        background-color: rgba($box, .6);
        height: 80px;

        &--item {
            display: block;
            width: 60px;
            height: 6px;
            background-color: $white;
            margin-right: .5rem;
        }
    }

    &__offscreen {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        transform: scale(1, 0);
        visibility: hidden;
        transform-origin: top;
        transition: 350ms;

        img {
            margin-bottom: 2rem;
        }

        &.open {
            transform: scale(1, 1);
            visibility: visible;
            height: 100dvh;
        }
    }

    &__logo {
        width: 90px;
    }

    a {
        color: white;
        font-weight: 600;
        font-size: 1.25rem;

        &:hover,
        &:focus {
            color: blueviolet;
        }
    }

}

.nav:has(.nav__offscreen.open) {
    background-color: rgba($box, .6);
}



@include media('desktop') {
    .nav {
        background-color: rgba($box, .3);
        color: white;
        text-align: center;

        &__offscreen {
            all: unset;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            img {
                margin-bottom: 0px;
            }
        }

        &__menu {
            display: none;
        }
    }
}